torch
transformers
modelscope
sumolib
traci
numpy
pandas
pillow
scikit-learn
accelerate
sft
mpmath
google-genai
vllm==0.11.0
accelerate
tensorboard
deep-translator
streamlit
pandas
matplotlib
tenacity
trl
# 安装sumo
apt-get update
apt-get install sumo sumo-tools sumo-doc
# Add other specific dependencies as needed
